*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Alexandria', sans-serif;
}

.container{
    height: 100vh;
    background-color: black;
}

.container header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a img{
    width: 80px;
    height: 80px;
    margin-left: 50px;
    margin-top: 5px;
}

header ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}
header ul li{
    margin: 10px;
    position: relative;
}
header ul a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 18px;
}

.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:3rem;
}

.content .left{
    margin-left: 50px;
    margin-top: 150px;
}

.content .left h1{
    font-weight: 600;
    margin-bottom: 50px;
    color: white;
}

.content .left p{
    margin-bottom: 20px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight: 400;
}

.content .left button{
    width: 100px;
    height: 30px;
    cursor: pointer;
    margin-top: 30px;
    box-shadow: 1px 1px 1px 1px black;
}

.right img{
    margin-left: 300px;
    height: 350px;
    margin-top: 50px;
    transition: 0.5s;
    cursor: pointer;
}

.right img:hover{
    transform: scale(1.2);
}

.footer footer .images{
    margin-left: 400px;
    margin-top: 50px;
}
.footer footer .images img{
    width: 70px;
    height: 100px;
    margin-left: 1rem;
    cursor: pointer;
    transition: 0.5s;
}

.footer footer .images img:hover{
    transform: scale(1.2);
}